<ion-header class="header">
  <ion-toolbar class="t-header">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button fill="clear">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: 50px">Daftar Karyawan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <!-- Looping data semua karyawan -->
    <ion-card *ngFor="let k of karyawanList" (click)="goDetail(k.id)">
      <ion-card-content class="card-center">
        <ion-icon name="person" size="large"></ion-icon>
        <h2>{{ k.nama }}</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- FAB untuk tambah -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="fab-custom">
    <ion-fab-button (click)="addKaryawan()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
