/* Gaya halaman detail karyawan */
.header {
  box-shadow: none;
}

/* Warna tema header (hijau) */
.t-header {
  --background: #4caf50;
  --color: white;
}

/* Padding konten */
.content {
  padding: 10px;
}

.content {
  padding: 10px;
}

/* Layout untuk avatar + teks di tengah */
.card-center {
  display: flex;
  align-items: center; /* vertikal tengah */

  gap: 12px; /* jarak antara ikon & teks */
  padding: 10px;
  text-align: center;
}

.card-center h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
