<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="presensi" href="/tabs/presensi">
      <!-- Ikon Presensi menggunakan scan-outline -->
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label>Presensi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pengaturan" href="/tabs/pengaturan">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Pengaturan</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>





