.header {
  box-shadow: none;
}

.t-header {
  --background: #4caf50;
  --color: white;
}

.content {
  padding: 10px;
}

.content {
  padding: 10px;
}

.card-center {
  display: flex;
  align-items: center; /* vertikal tengah */

  gap: 12px; /* jarak antara ikon & teks */
  padding: 10px;
  text-align: center;
}

.card-center h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
