<!-- Header Dashboard -->
<ion-header class="header">
  <ion-toolbar class="t-header">
    <ion-title class="ion-text-center"> Dashboard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <!-- Kartu navigasi ke daftar karyawan -->
    <ion-card (click)="listData()">
      <ion-card-content class="card-center">
        <!-- Ikon people dari ionicons -->
        <ion-icon name="people" size="large"></ion-icon>
        <h2>Daftar Karyawan</h2>
      </ion-card-content>
    </ion-card>
    <!-- Kartu navigasi ke log presensi -->
    <ion-card (click)="logPresensi()">
      <ion-card-content class="card-center">
        <ion-icon name="list-outline" size="large"></ion-icon>
        <h2>Log Presensi</h2>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


