<!-- Header: tombol kembali dan judul log presensi -->
<ion-header class="header">
  <ion-toolbar class="t-header">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button fill="clear">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="margin-left: 50px">Log Presensi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <!-- Placeholder daftar log presensi -->
    <p class="empty-state">Belum ada data log presensi.</p>
  </div>
</ion-content>
